body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: rgba(90,92,105,.5);
    line-height: 30px;
}
.footer{
    color:white;
    background-color:royalblue;
    margin-top:20px;
    padding-top: 30px;
}

.Gioithieuchung{
    padding-top:10px;
}
.Gioithieuchung a{
    color: white;
    text-decoration: none;
}

.Thongtinbenhvien{
    padding-top:10px;
}

.btn-default {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-default:hover {
        color: #fff;
        background-color: #286090;
        border-color: #204d74;
}


