@{
    ViewBag.Title = "Liên hệ với chúng tôi";
}
<h2>@ViewBag.Title.</h2>

<address>
    THU DUC CAMPUS<br />
    THU DUC, TP.HCM<br />
    <abbr title="Phone">Điện thoại</abbr>
    09.876.543.21
</address>

    <div class="containerContact">  
        <div class="rowContact">    
        <div class="col-25">      
            <label for="fname">Họ và tên</label>    
            </div>    
        <div class="col-75"> 
            <input type="text" id="fname" name="firstname" placeholder="Tên của bạn">    
            </div> 
            </div> 
        <div class="rowContact">    
        <div class="col-25">     
            <label for="country">Quốc gia</label>    
            </div>    
        <div class="col-75">      
            <select id="country" name="country">        
            <option value="vietnam">Vietnam</option>        
            <option value="laos">Laos</option>       
            <option value="cambodia">Cambodia</option>    
                </select>    
            </div>  
            </div> 
        <div class="rowContact">  
        <div class="col-25">     
            <label for="subject">Góp ý</label>  
            </div>   
        <div class="col-75">      
            <textarea id="subject" name="subject" placeholder="Góp ý..." style="height:200px"></textarea>   
            </div>  
            </div>  
        <div class="rowContact">
            <input type="submit" class="btn btn-default btnxacnhan" value="Xác nhận"> 
            </div> 
    </div>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>