@{
    ViewBag.Title = "Liên hệ với chúng tôi";
}
<h2>@ViewBag.Title.</h2>

<address>
    THU DUC CAMPUS<br />
    THU DUC, TP.HCM<br />
    <abbr title="Phone">Điện thoại</abbr>
    09.876.543.21
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>