@{
    ViewBag.Title = "Trang chủ";
}

<div class="jumbotron">
    <h1>CHÀO MỪNG BẠN ĐẾN VỚI BỆNH VIỆN</h1>
    <p class="lead">Ưu tiên hàng đầu tại Việt Nam</p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Media/12354.png" />
        <h2>Tìm bác sĩ</h2>
        <p>
            Nhận chăm sóc sức khỏe tốt nhất với sự giúp đỡ của các bác sĩ có trình độ cao của chúng tôi. Nhấn vào nút bên dưới để bắt đầu.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Tìm bác sĩ &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Media/1339788964763703.jpg" />
        <h2>Tạo cuộc hẹn</h2>
        <p>Thiết lập các cuộc hẹn chưa bao giờ được dễ dàng như vậy. Nó chỉ là một đăng ký và vài cú nhấp chuột đi.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Tạo cuộc hẹn &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Media/1hospital.jpg" />
        <h2>Xem thống kê đặt lịch</h2>
        <p>
            Bạn muốn biết chúng tôi đang làm tốt như thế nào? Hãy kiểm tra bằng cách nhấp chuột vào nút bên dưới.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Xem thống kê &raquo;</a></p>
    </div>
</div>

