@{
    ViewBag.Title = "Trang chủ";
}

<div class="background" style="background-image: url(/Media/bgr1.jpg)">
    <div class="bgr-text">
        <h1>NỀN TẢNG Y TẾ</h1>
        <p class="lead">CHĂM SÓC SỨC KHỎE TOÀN DIỆN</p>
    </div>
    <div class="timkiem">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Tìm kiếm..." aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Media/12354.png" />
        <h2>Tìm bác sĩ</h2>
        <p>
            Nhận chăm sóc sức khỏe tốt nhất với sự giúp đỡ của các bác sĩ có trình độ cao của chúng tôi. Nhấn vào nút bên dưới để bắt đầu.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Tìm bác sĩ &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Media/1339788964763703.jpg" />
        <h2>Tạo cuộc hẹn</h2>
        <p>Thiết lập các cuộc hẹn chưa bao giờ được dễ dàng như vậy. Nó chỉ là một đăng ký và vài cú nhấp chuột đi.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Tạo cuộc hẹn &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Media/1hospital.jpg" />
        <h2>Xem thống kê đặt lịch</h2>
        <p>
            Bạn muốn biết chúng tôi đang làm tốt như thế nào? Hãy kiểm tra bằng cách nhấp chuột vào nút bên dưới.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Xem thống kê &raquo;</a></p>
    </div>
</div>

@*@Html.Partial("Services")*@
@*<div class="dichvu">
        <h2>Dịch vụ</h2>
        <div class="row">
                <div class="col-md-4 dichvu-img">
                    <img src="~/Media/1339788964763703.jpg" />
                    <a href="#"><h3>Cơ xương khớp</h3></a>
                </div>
                <div class="col-md-4 dichvu-img">
                    <img src="~/Media/1339788964763703.jpg" />
                    <a href="#"><h3>Thần kinh</h3></a>
                </div>
                <div class="col-md-4 dichvu-img">
                    <img src="~/Media/1339788964763703.jpg" />
                    <a href="#"><h3>Tiêu hóa</h3></a>
                </div>
                <div class="col-md-4 dichvu-img">
                    <img src="~/Media/1339788964763703.jpg" />
                    <a href="#"><h3>Tim mạch</h3></a>
                </div>
        </div>
    </div>*@

