@{
    ViewBag.Title = "Giới thiệu";
}
<br />
<p>Thành lập năm 1997 với sứ mệnh mang tới dịch vụ chăm sóc sức khỏe chất lượng cao với chi phí hợp lý, Bệnh viện Hoàn Mỹ Sài Gòn đã trở thành địa chỉ tin cậy và quen thuộc của người dân trên địa bàn TP. HCM và các tỉnh, thành lân cận.</p>
<h3>Lịch sử hình thành</h3>

<h4>Năm 1997: Ra đời</h4>

<p>Tên gọi Hoàn Mỹ chính thức xuất hiện trên nền y tế nước nhà với tiền thân là Phòng Khám Đa Khoa Lý Thường Kiệt – 1A Lý Thường Kiệt, Phường 7, Quận Tân Bình, Tp.HCM. Phòng Khám đầu tiên của Thành phố Hồ Chí Minh.</p>

<h4>Năm 1999: Thành Lập</h4>

<p>Bệnh viện đa khoa Hoàn Mỹ đầu tiên ra đời và tọa lạc tại 124 Trần Quốc Thảo, Phường 7, Quận 3, Tp.HCM – Bệnh viện đa khoa tư nhân đầu tiên trên Thành phố Hồ Chí Minh.</p>

<h4>Năm 2002: Mở Rộng</h4>

<p>Bệnh viện đa khoa Hoàn Mỹ (cơ sở II) được thành lập ở số 4 Hoàng Việt, Phường 4, Quận Tân Bình.</p>

<h4>Năm 2011: Phát Triển</h4>

<p>Bệnh viện Hoàn Mỹ Sài Gòn gia nhập Tập Đoàn Quốc Tế Fortis. Chính thức đổi tên Bệnh viện đa khoa Hoàn Mỹ thành Bệnh viện Đa khoa Hoàn Mỹ Sài Gòn và dời cơ sở 1 từ 124 Trần Quốc Thảo, Phường 7, Quận 3, Tp.HCM về 60-60A Phan Xích Long, Phường 1, Quận Phú Nhuận, Tp.HCM.</p>

<h4>Năm 2013: Bền Vững</h4>

<p>Bệnh viện đa khoa Hoàn Mỹ Sài Gòn gia nhâp Tập Đoàn Clermont phát triển thành Tập Đoàn Y Khoa Hoàn Mỹ (Việt Nam) với hệ thống trải dài từ miền Trung đến miền Nam với 08 bệnh viện và 01 Phòng khám.</p>

<h4>Năm 2014 - Nay:</h4><p>Bệnh Viện Hoàn Mỹ Sài Gòn không ngừng đầu tư các trang thiết bị mới; với hi vọng mỗi khách hàng đều được tiếp cận với sự chăm sóc y tế hoàn mỹ với mức giá hợp lý. </p>

<h4>Thời gian khám bệnh:</h4>

<h5>Thứ Hai đến Thứ Bảy:</h5>
<p>
    Sáng : 7h00 - 11h30 <br />

    Chiều: 12h30 - 16h <br />

    Khám ngoài giờ: 16h - 18h
</p>

<h4>Chủ Nhật:</h4>
<p>Sáng : 7h00 - 12h00</p>